:root {
    --bodycolor: #242222;
    --cardcolor: #333232;
    --fontcolor: #fff;
    --navcolor: rgb(255, 61, 61);

}

@font-face {
    font-family: Pokefont;
    src: url('font/design.graffiti.ANDYB.ttf') format('embedded-opentype'),
        /* Internet Explorer */
        url('font/design.graffiti.ANDYB.ttf') format('woff2'),
        /* Super Modern Browsers */
        url('font/design.graffiti.ANDYB.ttf') format('woff'),
        /* Pretty Modern Browsers */
        url('font/design.graffiti.ANDYB.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('font/design.graffiti.ANDYB.ttf') format('svg');
    /* Legacy iOS */
}

main {
    margin-top: 4.6rem;
}

body {
    background-color: var(--bodycolor);
    color: var(--fontcolor);
}

.nav {
    background-color: var(--navcolor)
}

.nav a {
    color: rgb(231, 231, 231);
}

.nav a:hover {
    color: rgb(226, 226, 226);
}


.card {
    background-color: var(--cardcolor);
    width: 100%;
}

.card-title {
    text-align: center;
}

.card-title::first-letter {
    text-transform: capitalize;

}

.card-text::first-letter {
    text-transform: capitalize;

}

.pokecard {
    display: flex;
    justify-content: center;
    font-family: "Pokefont";
    margin-bottom: 1rem;
}

.card-img-top {
    margin: auto;
    width: 50%;
}

/* Details Popup */

.details-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 46rem;
    height: 36rem;
    z-index: 5;

    display: none;


    opacity: 0.95;
}

.details-popup>.col-12>.card {
    font-family: "Pokefont";
    font-size: 1.4rem;
    border: 5px solid var(--bodycolor) !important;
    border-radius: 10px;
}

.details-popup .card-title {
    font-size: 1.6rem;
}

.detailed-info .col-3 {
    text-align: center;
}

.detailed-info .col-3:nth-child(odd) {
    font-weight: bold;
}

.detailed-info .col-3:nth-child(odd)::after {
    content: ':';
}

.footer {
    z-index: 67;
}

.scrollDown {
    color: white;
    height: 5rem;
    width: 5rem;

    border-radius: 50%;

    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 5;

}

.scrollUp {
    color: white;
    height: 5rem;
    width: 5rem;

    border-radius: 50%;

    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 5;

}

.fa-angle-down {

    font-size: 3rem;
    position: fixed;
    bottom: 1%;
    right: 1%;

}

.fa-angle-up {

    font-size: 3rem;
    position: fixed;
    bottom: 3.5%;
    right: 1%;

}